<div class="container main-container">

    <h1>Listagem de Tarefas</h1>
    <hr>

    <p>
        <a class="btn btn-info" [routerLink]="['/nova']">Nova Tarefa</a>
    </p>


    <div class="row">
        <div class="col-md-9">
            <form enctype="multipart/form-data" [formGroup]="pesquisaForm" (ngSubmit)="pesquisar()">

                <div class="form-group">
                    <label class="control-label">Número</label>
                    <div>
                        <input class="form-control" id="id" type="text" placeholder="Número" formControlName="id"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Título/Descrição</label>
                    <div>
                        <textarea cols="40" rows="5" maxlength="1000" class="form-control" id="titulo" placeholder="Título/Descrição" formControlName="titulo"></textarea>                 
                    </div>
                </div>

                <div class="form-group" class="row" style="margin-bottom: 50px;">
                    <div class="col-md-3">
                        <label class="control-label">Responsável</label>
                        <select class="form-control" id="responsavel" formControlName="responsavel">
                            <option *ngFor="let responsavel of responsaveis">{{ responsavel.nome }}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Situação</label>
                        <select class="form-control" id="situacao" formControlName="situacao">
                            <option *ngFor="let situacao of situacoes">{{ situacao.nome }}</option>
                        </select>
                     </div>
                     <div class="col-md-3" style="margin-top: 32px;">
                        <input type="submit" value="Buscar Tarefas" class="btn btn-primary">&nbsp;
                     </div>
                </div>

            </form>
        </div>
    </div>


    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Número
                </th>
                <th>
                    Título
                </th>
                <th>
                    Responsável
                </th>
                <th>
                    Prioridade
                </th>
                <th>
                    Situação
                </th>
                <th>
                    Deadline
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarefa of tarefas">
                <td>
                    {{ tarefa.id }}
                </td>
                <td>
                    {{ tarefa.titulo }}
                </td>
                <td>
                    {{ tarefa.responsavel }}
                </td>
                <td>
                    {{ tarefa.prioridade }}
                </td>
                <td>
                    {{ tarefa.situacao }}
                </td>
                <td>
                    {{ tarefa.deadline | date:'dd/MM/YYYY' }}
                </td>
                <td class="text-right">
                    <a class="btn btn-info" [routerLink]="['/editar',tarefa.id]" routerLinkActive="router-link-active" >
                        <span class="fa fa-pencil"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger" [routerLink]="['/excluir',tarefa.id]" routerLinkActive="router-link-active" >
                        <span class="fa fa-trash"></span>
                    </a>&nbsp;
                    <a class="btn btn-warning" [routerLink]="['/detalhes',tarefa.id]" routerLinkActive="router-link-active" >
                        <span class="fa fa-check"></span>
                    </a>
                </td>
            </tr>           
        </tbody>
    </table>
</div>